/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
@charset "utf-8";
/* CSS Document */
body{background:#fff}
input:focus {outline: none} 
.min-width{min-width:1080px;}
.main{width:1080px;min-width:1080px;margin:0 auto;}
/*login and reg*/
label{ margin:0; font-weight:normal;}
.login-box-pan{ padding:50px 80px 50px 30px;}
.login-info{ width:290px;}
.login-info h2{ border-bottom:2px solid #eeeff3; color:#3498db; font-size:18px; font-weight:700; line-height:38px; width:100%;}
.login-info h2 span{ border-bottom:2px solid #3498db; height:38px; display:inline-block; padding:0 10px;position:relative; bottom:-2px;}
.login-info .item{ height:70px; width:290px;}
.login-info .item-input{ border:1px solid #e5e5e5; height:38px; line-height:24px; padding:7px 10px;}
.txt02{ height:24px; line-height:24px; border:0; float:left; font-size:13px;}
.login-info .item-input .txt02{ width:220px; float:left;}
.login-info .item-tips{ line-height:30px; font-size:12px; color:#ee1615;}
.login-info img{ width:70px; height:30px; margin:2px 10px 0;}
.f-h34{ height:34px; line-height:34px;}.f-h24{height:24px; line-height:24px;}
.login-box a.c-blue:hover{ color:#ff7d27; text-decoration:underline;}
.reg-box-pan{ padding:40px 40px 50px; width:100%;}
.txt03{width:270px;line-height: 16px;padding:9px 10px;border: 1px solid #cccccc;float: none;font-size: 14px;font-family: arial,"宋体";color: #999;overflow: hidden;}
.reg-box .item {height:68px;line-height:34px;position: relative;z-index:5;}
.reg-box .intelligent-label {width:100px;text-align: right;font-size: 14px;color: #666;padding-right: 10px;}
.reg-box .intelligent-label b{font-family: "????";margin-right: 5px;font-weight: normal; color:red;}
.reg-box .item .item-ifo{position: relative;width: 270px;}
.reg-box .txt02{width:270px;line-height: 16px;padding:9px 10px;border: 1px solid #cccccc;float: none;font-size: 14px;font-family: arial,"宋体";color: #999;overflow: hidden;}
.reg-box .txt03.v_error{border-color:#FF0000;}
.reg-box .txt03:focus{border-color:#1a97d7;}
.reg-box .blank {width:16px;height:16px; font-size:16px;position: absolute;left:280px;top:11px;float: none; color:#7abd54}
.reg-box .close{position: absolute;top:5px;right:25px;font-size: 24px;}
.reg-box .focus,.reg-box .focusa,.reg-box .error{line-height:34px;height:34px;position: absolute;top: 0px;left:280px;width:270px;padding: 0 5px;z-index:3; font-weight:normal; font-size:12px; color:#999}
.reg-box .focus span,.reg-box .error span{ line-height:16px; display:block; padding:3px 0;}
.reg-box .focus{color: #999;}
.reg-box .valid{color: #f00;}
.reg-box .strength {color: #999;line-height: 22px;padding-right: 10px;clear: both;float: none;position: absolute;top:39px;right: -9px; display:none}
.reg-box .strength b {float: left;width: 108px;height:16px;overflow: hidden;margin-top: 5px; font-weight:400;}
.reg-box .strength b i{ font-style:normal; font-size:10px; width:34px; height:16px;line-height:16px; display:inline-block; float:left; background:#dbdbdb; text-align:center; margin-left:1px; color:#fff;}
.reg-box .strength b i.on{ background:#ff6160}
.reg-box .btn-blue{ font-size:18px; height:44px; line-height:44px; padding:0; width:270px;}
.reg-box .btn-gray{ height:34px; line-height:34px; padding:0 12px;}
.reg-box .part1,.reg-box .part2,.reg-box .part3{ padding-left:150px;}
.regcon {width: 482px;height:360px;margin-left: -241px;margin-top: -180px;background: #fff;}
.regcon pre {border: 1px solid #B2B2B2;height: 240px;margin: 10px;overflow-x: hidden;overflow-y: scroll;padding: 5px;resize: both;width: 450px;background: #fff;font-size: 12px;color: #333;line-height: 1.7em;}
.showpwd{ display:inline-block; width:16px; height:16px; background:url(../Images/showpwd.png) no-repeat center center; background-size:16px 16px; position:absolute; top:8px;right:10px; cursor:pointer;}
.showpwd.hidepwd{ background-image:url(../Images/hidepwd.png);}
